 body
 {
    background-color: aquamarine;
    color: rgb(34, 0, 255);
    color: rgb(34, 0, 255);
 }
 .heading
 {
    width: 80%;
    font-size: 22px;
 }
 #camera
 {
    border: 2px dashed rgb(246, 20, 20);
    width: 350px;
    height: 300px;
 }
  .name_of_the_objects , #result_object_name , #result_object_accuracy
  {
    color: yellow;
  }